---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import DestinationSection from "../../components/DestinationSection.astro";
import {
  SITE_TITLE,
  SITE_DESCRIPTION,
  DESTINATIONS_AMAZON_HERO_PHOTOS,
  DESTINATIONS_ICELAND_HERO_PHOTOS,
  DESTINATIONS_MESOAMERICA_HERO_PHOTOS,
  DESTINATIONS_SOUTH_AMERICA_HERO_PHOTOS,
} from "../../consts";
---

<!doctype html>
<html lang="en" class="snap-y snap-proximity scroll-smooth">
  <head> <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} /> </head>
  <body class="bg-background pt-16">
    <Header />
    <main>
      <DestinationSection
        title="THE AMAZON RIVER"
        images={DESTINATIONS_AMAZON_HERO_PHOTOS}
        galleryUrl="/galleries/amazon"
        class="snap-start"
      />
      <DestinationSection
        title="PERU & COLOMBIA"
        images={DESTINATIONS_SOUTH_AMERICA_HERO_PHOTOS}
        galleryUrl="/galleries/south-america"
        class="snap-start"
      />
      <DestinationSection
        title="ICELAND"
        images={DESTINATIONS_ICELAND_HERO_PHOTOS}
        galleryUrl="/galleries/iceland"
        class="snap-start"
      />
      <DestinationSection
        title="MEXICO & GUATEMALA"
        images={DESTINATIONS_MESOAMERICA_HERO_PHOTOS}
        galleryUrl="/galleries/mesoamerica"
        class="snap-start"
      />
      <!-- Placeholder to allow snap onto footer -->
      <div class="snap-start h-1 invisible"></div>
    </main>
    <Footer class="snap-end" />
  </body>
</html>
