---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_TAGLINE, SITE_DESCRIPTION, HOMEPAGE_COLLAGE_HERO_PHOTOS, ADDITIONAL_HOMEPAGE_COLLAGE_PHOTOS} from '../consts';
import PhotoCollage from '../components/PhotoCollage.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE} | ${SITE_TAGLINE}`} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<PhotoCollage photosEager={HOMEPAGE_COLLAGE_HERO_PHOTOS} photosLazy={ADDITIONAL_HOMEPAGE_COLLAGE_PHOTOS} />
		</main>
		<Footer />
	</body>
</html>
